/** Styles for all themes */

.TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch.TcHmi_Controls_Beckhoff_TcHmiButton,
.TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch.TcHmi_Controls_Beckhoff_TcHmiButton.down {
    background: none;
    border: none;
    box-shadow: none;
}

.TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch svg {
    max-width: 100%;
    max-height: 100%;
}

.TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch
    .TcHmi_Controls_Beckhoff_TcHmiButton-template-content-text {
    display: none;
}

.TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch
    .TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch-lever-on {
    display: none;
}

.TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch.down
    .TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch-lever-off {
    display: none;
}

.TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch.down
    .TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch-lever-on {
    display: inline;
}

.TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch
    .TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch-horizontal {
    display: none;
}

.TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch.horizontal
    .TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch-horizontal {
    display: inline;
}

.TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch.horizontal
    .TcHmi_Controls_Beckhoff_Industries_Common_TcHmiRockerSwitch-vertical {
    display: none;
}
